/* ===========================================
   Main
   =========================================== */

/* top */

#main_top {
   padding: 30px 15px 0 15px;
}

#main_top h2 {
   font-weight: bold;
   text-transform: uppercase;
}

address {
   font-size: 14px;
   font-style: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* bottom */

#main_bottom {
   padding: 30px 15px 0 15px;
}

#bottom_content {
   display: flex;
   gap: 30px;
}

#bottom_content .info__form {
   flex: 1;
}

#bottom_content .maps {
   flex: 1; 
   height: auto; 
   min-height: 400px;
}

iframe {
   border: none;
   width: 100%;
   height: 100%;
}

/* form */
form p {
   display: flex;
   align-items: flex-start;
   margin-bottom: 15px;
}

form label {
   font-size: 16px;
   font-style: italic;
   flex: 0 0 120px;
}

form input,
form select,
form textarea {
   padding: 7px;
   flex: 1;
   width: 100%;
   border: 1px solid #ccc;
}

#inpMessage {
   height: 150px;
}

.btn-cta {
   margin-left: 120px; 
}
