/* ALGEMENE STIJLEN */
body {
    font-family: 'Times New Roman', Times, serif; 
    padding: 40px;
    background-color: #fff;
}

h1, h2 {
    font-weight: bold;
    color: #000;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif; 
}


.btnGreen {
    background-color: #a4c653; 
    color: white;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 6px;
    display: inline-flex; 
    align-items: center;
    gap: 15px; 
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s ease;
}


.btnGreen span {
    font-size: 18px;
    line-height: 1;
    transition: transform 0.3s ease; 
}


.btnGreen:hover {
    background-color: #92b346; 
    text-decoration: underline;
}

.btnGreen:hover span {
    transform: translateX(5px); 
}


.btnFav {
    background-color: #e0d3c1; 
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #8b1e1e; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Bug of klein foutje in mijn code voor het hartje te vergroten? */
.btnFav:hover {
    transform: scale(1.1); 
    background-color: #d6c6b0;
}


.btnTiktok {
    background-color: #f0f0f0; 
    display: inline-flex;
    align-items: center;
    padding: 12px 20px 12px 12px;
    gap: 12px;
    color: #666; 
    font-size: 18px;
    font-weight: 400;
    min-width: 220px;
    transition: background-color 0.3s ease;
}


.btnTiktok svg {
    width: 32px;
    height: 32px;
    fill: black; 
}


.btnTiktok:hover {
    background-color: #e3e3e3;
    text-decoration: underline;
}

img
{
   width: 35px;
    height: auto;
    margin-right: 15px; 
    display: block;
}
