body {
    font-family: sans-serif;
    color: #000;
}

h1, h2 {
    font-weight: bold;
}


#menu-hor-green {
    background-color: #abdb4c; 
    font-family: sans-serif;
    list-style: none;
    padding: 20px; 
    display: flex;
    margin: 0;
}

#menu-hor-green li {
    margin-right: 10px; 
}

#menu-hor-green a {
    color: #444; 
    display: block;
    padding: 5px 15px;
    text-decoration: none; 
    text-underline-offset: 5px; 
}


#menu-hor-green li.active a,
#menu-hor-green a:hover {
    text-decoration: underline;
}



#menu-social-vert {
    border: 1px solid #ddd; 
    border-radius: 3px;
    list-style: none;
    padding: 0;
    text-align: center;
    width: 60px; 
    margin-top: 10px;
}

#menu-social-vert li {
    border-top: 1px solid #ddd; 
}


#menu-social-vert li:first-child {
    border-top: none;
}

#menu-social-vert a {
    text-decoration: none;
    display: block; 
}

#menu-social-vert span {
    color: #99c63f; 
    display: block;
    font-size: 32px; 
    height: 60px;    
    line-height: 60px; 
    width: 60px;    
    cursor: pointer;
    transition: color 0.2s ease; 
}

#menu-social-vert li.active span,
#menu-social-vert a:hover span {
    color: #abdb4c; 
}
